
<%= form_with model: resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, multipart: true }, id: "new_post",class: 'registration-main', local: true do |f| %>
  

  <div class='form-wrap'>
    <div class='form-header'>
      <h2 class='form-header-text'>
        会員情報編集
      </h1>
    </div>
    
  <%= render "devise/shared/error_messages", resource: resource %>
    
    <div class="form-group">
      <div class="form-text">
        プロフィール画像
      </div>
      <div class="click-upload">
        <div class="img-upload">
          <div id="previews"></div>
        </div>
        <div class="form-text">
          クリックしてファイルをアップロード
        </div>
        <%= f.file_field :image_profile, id: 'post-image' %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">ニックネーム</label>
        
      </div>
      <%= f.text_area :nickname, class:"input-default", id:"nickname", placeholder:"例) furima太郎", autofocus: true, maxlength: "6" %>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">メールアドレス</label>
      </div>
      <%= f.email_field :email, class:"input-default", id:"email" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード <br>(変更しない場合は空白のままにしてください)</label>
      </div>
      <div class="password-field-wrapper">
        <%= f.password_field :password, class:"input-default", id:"password", placeholder:"6文字以上の半角英数字" %>
        <!-- 追加: パスワード表示・非表示切り替えボタン -->
        <%= button_tag id: 'btn_passview', type: 'button', style: 'border: none;' do %>
          <%= image_tag 'open-eye.png', size: "20x20" ,alt: 'パスワードを表示させる', class:"visible-password", id: 'img-visible' %>
          <%= image_tag 'close-eye.png', size: "20x20" ,alt: 'パスワードを非表示にする', class:"hidden-password", id: 'img-hidden', style: 'display: none;' %>
        <% end %>
      </div>
     
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">パスワード(確認)</label>
      </div>
      <div class="password-field-wrapper">
        <%= f.password_field :password_confirmation, class:"input-default", id:"password_confirmation", placeholder:"同じパスワードを入力してください" %>
        <!-- 追加: パスワード表示・非表示切り替えボタン -->
        <%= button_tag id: "btn_passview_confirmation", type: "button", style: "border: none;" do %>
          <%= image_tag 'open-eye.png', size: "20x20" ,alt: 'パスワードを表示させる', class:"visible-password", id: 'img-visible-confirmation' %>
          <%= image_tag 'close-eye.png', size: "20x20" ,alt: 'パスワードを非表示にする', class:"hidden-password", id: 'img-hidden-confirmation', style: 'display: none;' %>
        <% end %>
      </div>
    </div>

    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">現在のパスワード <br>(変更を確認するには現在のパスワードが必要です)</label>
      </div>
      <div class="password-field-wrapper">
        <%= f.password_field :current_password, class:"input-default", id:"current-password" %>
        <%= button_tag id: 'btn_passview_current', type: 'button', style: 'border: none;' do %>
          <%= image_tag 'open-eye.png', size: "20x20" ,alt: 'パスワードを表示させる', class:"visible-password", id: 'img-visible-current' %>
          <%= image_tag 'close-eye.png', size: "20x20" ,alt: 'パスワードを非表示にする', class:"hidden-password", id: 'img-hidden-current', style: 'display: none;' %>
        <% end %>
      </div>
    </div>


    <div class="form-group">
      <%= f.submit "更新" ,class:"register-red-btn" %>
    </div>

    <%# <div class="form-group">
      <h5 >アカウントをキャンセル</h5>
      <div>不満ですか？(実装中) </div> %>
      <%#= button_to "退会します", registration_path(resource_name), data: { confirm: "よろしいですか？" }, method: :delete , class:"register-red-btn"%>
    <%# </div> %>
    <div class="form-group">
      <%=link_to 'もどる', root_path, class:"back-btn-edit" %>
    </div>
  </div>
<% end %>

<%= render "shared/second-footer"%>


