<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Blog'in-Com</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/blog/">

    

    <!-- Bootstrap core CSS -->
<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="https://fonts.googleapis.com/css?family=Playfair&#43;Display:700,900&amp;display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="blog.css" rel="stylesheet">
  </head>
  <body>
    
<div class="container">
  <header class="blog-header mt-3">
    <div class="d-flex justify-content-around align-items-center">
      <div class="col-4 pt-1">
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="#"><%= link_to image_tag("header-main.png", class:"apple-btn"), "#" %></a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        

        <div id="search-modal" class="modal">
          <div class="modal-content">
            <%= form_with url: search_posts_path, local: true, method: :get, class: "search-form" do |form| %>
              <%= form.text_field  :title, placeholder: "投稿を検索する", class: "search-input" %>
              <%= form.submit "検索", class: "search-btn" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <%# 新ヘッダー候補 %>

  <header class="py-3 mb-3 border-bottom">
    <div class="container-fluid d-grid gap-3 align-items-center" style="grid-template-columns: 1fr 2fr;">
      <div class="dropdown">
        <a href="#" class="d-flex align-items-center col-lg-4 mb-2 mb-lg-0 link-dark text-decoration-none dropdown-toggle" id="dropdownNavLink" data-bs-toggle="dropdown" aria-expanded="false">
          <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg>
        </a>
        <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
          <li aria-current="page"><%= link_to 'POST', new_post_path, class: "dropdown-item active btn-lg" %></li>
          <li><a class="dropdown-item btn-lg" href="#" >RANKING</a></li>
          <li><a class="dropdown-item btn-lg" href="#">PRIZE-WINNERs</a></li>
          <li><a class="dropdown-item btn-lg" href="#">POST-LISTs</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item btn-lg" href="#">LIKEs</a></li>
          <li><a class="dropdown-item btn-lg" href="#">FOVORITEs</a></li>
        </ul>
      </div>

      
      
      <div class="d-flex align-items-center justify-content-end">
        <div class="ml-auto">
          <a id="search-icon" class="link-secondary" href="#" aria-label="Search">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24">
              <title>Search</title>
              <circle cx="10.5" cy="10.5" r="7.5"/>
              <path d="M21 21l-5.2-5.2"/>
            </svg>
          </a>
        </div>
         <% if user_signed_in? %>
          <div class="fw-bold me-2"><a><%= current_user.nickname %></a></div>
        <% end %>
        <div class="flex-shrink-0 dropdown">
          <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
            <% if @user&.image_profile&.attached? && @user.image_profile.variant(resize: "50x50").processed.present? %>
              <%= image_tag @user.image_profile.variant(resize: "50x50"), alt: "プロフィール画像", class: "rounded-circle", width: "50", height: "50" %>
            <% else %>
              <!-- 画像が存在しない場合の代替表示 -->
              <%= image_tag "header-post_logo.png", alt: "デフォルトのプロフィール画像", class: "rounded-circle", width: "50", height: "50" %>
            <% end %>
          </a>
          <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownNavLink">
            <% if user_signed_in? %>
              <li><a class="dropdown-item"><%= link_to 'My page', user_path(current_user), class: "btn mb-3 dropdown-item active btn-lg" %></a></li>
              <li><a ><%= link_to 'Profile', edit_user_registration_path, method: :get, class: "btn  dropdown-item btn-lg" %></a><li>
              <li><hr class="dropdown-divider"></li>
              <li><a ><%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: "btn dropdown-item btn-lg" %></a></li>
            <% else %>
              <li><a><%= link_to 'Sign up', new_user_registration_path, class: "btn dropdown-item btn-lg" %></a></li>
              <li aria-current="page"><a><%= link_to 'Log in', new_user_session_path, class: "btn dropdown-item active btn-lg" %></a></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </header>

  <%# 新ヘッダー候補 %>


<main class="container">
  <div class="p-4 p-md-5 mb-4 text-black rounded custom-gray">
    <div class="col-md-6 px-0">
      <div class="d-flex align-items-center justify-content-between">
        <h1 class=" fst-italic">Let's Recommend!!!<br>おすすめ記事を投稿しよう！！</h1>
        <%# <p class="lead my-3 fst-italic">Ce site est illégal ! Vous pouvez être un utilisateur, mais vous ne pourrez pas vous arrêter.</p> %>
      </div>
      <%# <img src="app/assets/images/star.png" alt="Image 1" class="img-fluid"> %>
      <%# </div> %>
      <%# <div class="d-flex align-items-center">
        <img src="path/to/your/image2.jpg" alt="Image 2" class="mr-3">
      </div> %>
    </div>
  </div>

  <div class="row mb-6">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-3 text-primary">何かをおすすめすることを習慣化</strong>
          <h3 class="mb-5">Photo & Article-Title</h3>
          <%# <div class="mb-1 text-muted">Nov 12</div> %>
         <p class="card-text mb-auto">おすすめ記事を投稿する習慣をつけてビジネススキルに高めよう</p>
          <%# <a href="#" class="stretched-link">Continue reading</a> %>
        </div>
        <div class="col-auto d-none d-lg-block">
         <%# <img src="app/assets/images/star.png" alt="Image 1" class="img-fluid"> %>
         <%# <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> %>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-3 text-success">提案できる人間になろう！</strong>
          <h3 class="mb-5">Let's Change Yourself!</h3>
          <%# <div class="mb-1 text-muted">Nov 11</div> %>
          <p class="mb-auto">提案できる人間になることは信頼のあるビジネスマンに慣れる…可能性が高まる</p>
          <%# <a href="#" class="stretched-link">Continue reading</a> %>
        </div>
        <div class="col-auto d-none d-lg-block">
          <%# <img src="/Users/ishikuraken/projects/original-app1/app/assets/images/LogoMakr-0hvkaw.jpg" alt="Thumbnail" class="bd-placeholder-img" width="200" height="250"> %>
          <%# <svg class="bd-placeholder-img" width="200" height="250" xmlns="app/assets/images/star.png" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg> %>
        </div>
      </div>
    </div>
  </div>

  <div class='item-contents'>
    <h2 class='title'>ピックアップカテゴリー</h2>
    <div class="subtitle" >
      <h4>新規投稿一覧</h4>
    </div>
    <ul class='item-lists'>

    <% @posts.each do |post| %>
      <li class='list'>
        <%= link_to post_path(post.id) do %>
          <div class='item-img-content'>
            <%= image_tag post.image, class: "item-img" if post.image.attached?%>
          </div>
          <div class="user-nickname"><%= post.user.nickname %></div>
          
          <div class='item-info'>
            <h3 class='item-name'>
              <%= post.title %>
            </h3>
            <div class='item-price'>
              <span><%#= post.content %></span>
            </div>
          </div>
        <% end %>
        <div class='star-btn'>
            <%# 下記、星マークは将来的にお気に入り機能になる予定です。 %>
            <%= image_tag "header-post_logo.png",  size: "25x25", class:"star-icon" %>
            <%# ↑フォロー↑ %>
            
          <%# unless current_user == @user %>
            <%# 下記、星マークは将来ハートマーク(FontAwesome)に変更予定です。 %>
            <div id="like-btn<%= post.id %>">
              <%= render partial: "likes/like", locals: { post: post } %>
            </div>
          <%# end %>

          <%# if user_signed_in? %>
          
            <%= render partial: "posts/favorite", locals: { post: post } %>
          <%# end %>

        </div>


        <%# ランキング機能表示 %>

        <%# <h1>Post Ranking</h1> %>
        <ol>
          <%# @ranking_posts.each do |post| %>
            <%# <li>= link_to post.title, post: =post.likes.count likes</li> %>
          <%# end %>
        </ol>

        <%# ランキング機能表示 %>


        
          <%# <div class='star-btn'> %>
            <%#= image_tag "star.png", class:"star-icon" %>
            <%# <span class='star-count'>0</span> %>
          <%# </div> %>
        </li>
    <% end %>
   
  </div>
  <div class="p-4">
    <h4 class="fst-italic text-center ">Elsewhere</h4>
    <ol class="list-unstyled mt-4 d-flex justify-content-around align-items-center">
      <li class="me-1"><a href="#">GitHub</a><%#= image_tag "star.png" %></li>
      <li class="me-1"><a href="#">Twitter</a></li>
      <li class="me-1"><a href="#">Facebook</a></li>
    </ol>
  </div>
  <div class="p-4 ">
    <h4 class="fst-italic text-center">Archives</h4>
    
    <ul class="list-unstyled mt-3 d-flex justify-content-between align-items-center">
      <li class="me-3"><a href="#" class="link-secondary ">Mar-2021</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Feb-2021</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Jan-2021</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Dec-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Nov-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Oct-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Sep-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Aug-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Jul-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Jun-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">May-2020</a></li>
      <li class="me-3"><a href="#" class="link-secondary ">Apr-2020</a></li>
    </ul>
  </div>
  <%= link_to new_post_path, class: 'purchase-btn' do %>
    <span class='purchase-btn-text'>Hey,Post HERE !!!</span>
    <%= image_tag 'header-post_logo.png' , size: '85x50' ,class: "purchase-btn-icon" %>
  <% end %>
</main>

<footer class="blog-footer">
  <p>
    <a href="#"><%= link_to image_tag("header-main.png", size: '100x70',class:"apple-btn"), "#" %></a>
  </p>
  <p>Blog template built for <a href="https://getbootstrap.com/">Bootstrap</a> by <a href="https://twitter.com/mdo">Wan_Coins.Co.Ltd</a>.</p>
</footer>


    
  </body>
</html>
