<!DOCTYPE html>
<html>
  <head>
    <title>Original-app1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%# fontAwesomeの読み込み %>
  <script src="https://kit.fontawesome.com/29625f87bb.js" crossorigin="anonymous"></script>
  <%# レビュー機能の星マーク準備 %>
  <%# <i class="fa-solid fa-star"></i>     星選択している %>
  <%# <i class="fa-regular fa-star"></i>   星選択していない %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
