<!DOCTYPE html>
<html>
  <head>
    <title>Original-app1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

  <%# fontAwesomeの読み込み %>
  <script src="https://kit.fontawesome.com/29625f87bb.js" crossorigin="anonymous"></script>
  

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
